[submodule "submodules/effect-vs-code-extension"]
	path = submodules/effect-vs-code-extension
	url = https://github.com/Effect-TS/vscode-extension.git
[submodule "submodules/effect"]
	path = submodules/effect
	url = https://github.com/Effect-TS/effect.git
